* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: black;
    padding-bottom: 10px;
}

.header {
    display: flex;
    color: red;
    font-size: 100px;
    font-style: italic;
}

.content1-container {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
}

.allRecipes {
    display: flex;
}

.recipe {
    display: flex;
    border: 1px solid black;
    width: 300px;
    height: 100px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.recipe a {
    text-decoration: none;
    color: black;
}

.recipe:hover {
    background-color: lightseagreen;
    cursor: pointer;
}